html {
 font-family: 'Inter', sans-serif
}

body {
 margin: 0;
}

#header {
 display: flex;
 width: 100%;
 position: fixed;
 top: 0;
 background-color: green;
 padding-left: 10%;
 padding-right: 10%;
}

#nav-bar {
 margin-left: auto;
 margin-right: 20%;
}

#nav-bar ul {
 display: flex;
 list-style-type: none;
 padding-left: 0;
}

#nav-bar ul li {
 padding: 10px 20px 10px 20px;
 color: white;
}

.nav-link, .nav-link:visited {
 color: white;
 text-decoration: none;
}

#header-img {
 width: 240px;
}

#login-or-signup {
 background: linear-gradient(rgb(155, 152, 152), rgb(99, 94, 94));
 color: white;
 text-align: center;
 width: 100%;
 height: fit-content;
 text-shadow: black 2px 2px;
 margin-top: 70px;
 padding: 200px 0;
}

#login-or-signup h1 {
 margin-block-start: 0;
}

#form {
 margin-top: 30px;
}

#email {
 width: 250px;
 height: 35px;
 font-size: 16px;
}

#submit {
 padding: 0 10px 0 10px;
 border: 2px solid forestgreen;
 border-radius: 5px;
 background-color: green;
 color: white;
 font-size: 20px;
 height: 40px;
 vertical-align: top;
 cursor: pointer;
}

#service-info {
 background-image: url(../images/landing-page-bg.jpg);
 background-blend-mode: darken;
 padding: 5px 0;
 background-color: rgba(0, 0, 0, 0.4);
}

#about-us {
 margin: 50px 20%;
 text-align: center;
 font-size: 20px;
 color: white;
}

#intro {
 text-align: center;
 font-size: 20px;
 color: white;
}

#pricing {
 display: flex;
 flex-direction: row;
 gap: 20px;
 justify-content: center;
 margin-bottom: 50px;
}

.packages {
 height: 325px;
 padding: 20px;
 background-color: rgb(169, 218, 169);
 border: 1px solid gray;
 border-radius: 10px;
 text-align: center;
}

.select {
 width: 100px;
 padding: 10px;
 background-color: green;
 border: 1px solid forestgreen;
 border-radius: 10px;
 color: white;
 font-size: 20px;
}

.plan-info {
 height: 240px;
}

footer {
 background-color: rgb(93, 180, 93);
 color: white;
 padding: 10px;
}

footer ul {
 display: flex;
 list-style-type: none;
 padding-left: 0;
 margin-left: auto;
 margin-right: 20px;
 justify-content: end;
}

footer ul li a, footer ul li a:visited {
 padding: 10px 20px 10px 20px;
 color: white;
 text-decoration: none;
}

@media screen and (max-width: 1000px) {
 #login-or-signup {
  padding-top: 50px;
  padding-bottom: 50px;
 }
}

@media screen and (max-width: 800px) {
 #header-img {
  height: 72px;
  margin-top: 10px;
 }
 #about-us {
  margin-left: 10%;
  margin-right: 10%;
 }
 #pricing {
  flex-direction: column;
  align-items: center;
 }
 .packages {
  max-width: 345px;
 }
 #video {
  width: 100%;
 }
}

@media screen and (min-width: 800px) and (max-width: 1060px) {
 .packages {
  height: 350px;
 }
 .plan-info {
  height: 270px;
 }
}